<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Photo to Sticker</title>
</head>
<body>
  
    <h2>Or Create Animated GIF!</h2>
    <form action="/upload_gif" method="post" enctype="multipart/form-data">
    <label>Upload Photo:</label><br>
    <input type="file" name="photo" required><br><br>

    <label>Enter Text (Optional):</label><br>
    <input type="text" name="text" placeholder="Let's go!"><br><br>

    <button type="submit">Create Animated GIF</button>
    </form>

</body>
</html>
